* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  overflow-x: hidden;
  background-color: black !important;
  background-image: url('img/got.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  height: 100%;
}
